<!DOCTYPE html> 
 <html lang="es"> 
 <head> 
	 <meta charset="utf-8"> 
	 {% block title %}<title>Tribia</title>{% endblock %} 
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	 <meta name="description" content=""> 
	 <meta name="author" content=""> 
	 
	 
	 <!-- Le styles --> 
	 <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"> 
	 <style type="text/css"> 
	 body { padding-top: 60px; padding-bottom: 40px;} 
	 </style> 
	 
	 <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
	 <!--<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">-->
	 <link href="{{ STATIC_URL }}style1.css" rel="stylesheet">
	 
	 
	 <!-- HTML5 shim, for IE6-8 support of HTML5 elements --> 
	 <!--[if lt IE 9]> 
	 <script src="../assets/js/html5shiv.js"></script> 
	 <![endif]--> 
	 
	 
	 <!-- Fav and touch icons --> 
	 <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png"> 
	 <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png"> 
	 <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png"> 
	 <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> 
	 <link rel="shortcut icon" href="../assets/ico/favicon.png"> -->
 </head> 
 
 
   <body > 
 
 
	 <div class="navbar navbar-inverse navbar-fixed-top"> 
	 	<div class="navbar-inner"> 
	 		<div class="container"> 
	             <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
	 				<span class="icon-bar"></span> 
	 				<span class="icon-bar"></span> 
	 				<span class="icon-bar"></span> 
	 			 </button>
	 			
				<h1><a href="/"><span>Trivia</span></a></h1>
				
	 			  <h6><a class="brand" href="/"><span>TriviaOnline.bo</span></a></h6>
	 			 
			 	    <div class="nav-collapse collapse"> 
			 	    
			          	<ul class="nav"> 
			          		
			 				<li class="#active"><a href="/registrar/">Registrar Usuario</a></li>
			 				<!--<li><a href="#">About</a></li> 
			 				<li>
			 				<a href="#">Contactos</a>
			 				</li>-->
			 				<li class="#active"><a href="/ingresar/">Ingresar</a></li>
			 				
			 				
			 				<!--<li class="#active"><a href="lista">Lista</a></li>--> 
				 			{% if user.is_superuser %}
				 			<li class="dropdown">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
						          <ul class="dropdown-menu" role="menu">
						            <li><a href="lista">Lista de Usuarios</a></li>
						            <li><a href="tema">Registar Temas</a></li>
						            <!--<li><a href="#">Something else here</a></li>-->
						            <li class="divider"></li>
						            <li><a href="#">Separated link</a></li>
						            <li class="divider"></li>
						            <li><a href="#">One more separated link</a></li>
						          </ul>
						    </li>

						    {% endif %}
			 		     	
			 			 </ul>
			 			 
                       
 			 	    </div><!--/.nav-collapse--> 

					
	 		 </div> 
	 	 </div> 
	  </div>
<!--<div class="navbar navbar-inverse navbar-fixed-top"> 
 <div class="navbar-inner"> 
	<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1><a href="/"><span>Logotipo</span></a></h1>
		</div>
		<div class="col-xs-9">
			<ul class="nav nav-pills">
			  <li class="active"><a href="/">Inicio</a></li>
			  <li><a href="/user/registro/">Registro</a></li>
			  {% if user.is_authenticated %}
					<li><a href="/logout/">Salir</a></li>
			  {% else %}
			  		<li><a href="/login/">Login</a></li>
			  {% endif %}
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
			</ul>
		</div>
	</div>
	</div>
 </div>
</div>-->
	<div class="container"> 
	  
		 
		 	 <!-- Main hero unit for a primary marketing message or call to action --> 
				<div class="hero-unit">
				
 
				 <h1>B I E N V E N I D O S</h1>
				
					
					<!--<img class="img-polaroid" src="{{STATIC_URL}}img/entrada.gif" alt="">
					 <!--<p><a href="#" class="btn btn-primary btn-large">ingresar &raquo;</a></p>-->

				 </div> 
			

      <!--  Carousel -->
      <!--  consult Bootstrap docs at 
            http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div id="this-carousel-id" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <a href="">  <img src="{{STATIC_URL}}images/trivial_pursuit-628778.jpg" />
            </a>
            <div class="carousel-caption">
              <p>trivial1</p>
              <p><a href=""></a>A</p>
            </div>
          </div>
          <div class="item">
            <a href="">
              <a href="">  <img src="{{STATIC_URL}}images/desafio-trivial-2.jpg" />
            </a>
            <div class="carousel-caption">
              <p>Trivial24</p>
              <p><a href=""></a>B</p>
            </div>
          </div>
          <div class="item">
            <a href="">
              <a href="">  <img src="{{STATIC_URL}}images/FC-Barcelona-Trivia-Fans.jpg" />
            </a>
            <div class="carousel-caption">
              <p>Trivial2</p>
              <p><a href=""></a></p>
            </div>
          </div>
          <div class="item">
            <a href="">
              <a href="">  <img src="{{STATIC_URL}}images/barça-header-664x374.jpg" />
            </a>
            <div class="carousel-caption">
              <p>Trivial2</p>
              <p><a href=""></a></p>
            </div>
          </div>
          <div class="item">
            <a href="">
              <a href="">  <img src="{{STATIC_URL}}images/Trivia_ClubAmerica-2.jpg" />
            </a>
            <div class="carousel-caption">
              <p>trivial42</p>
              <p><a href=""></a></p>
            </div>
          </div>
        </div><!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div><!-- .carousel -->
      <!-- end carousel -->

      <!-- Example row of columns -->
      
 

     

    <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    
   

 
				
					
					<!--<img class="img-circle " src="{{STATIC_URL}}img/pyramid4.jpg" alt="">-->
 
					 <!--<p><a href="#" class="btn btn-primary btn-large">ingresar &raquo;</a></p>-->

					
			
		 

				
			  

    
   
				
			  
				
		
			
		 
		 <!-- Example row of columns --> 
			    <!--<div class="row"> 
				    <div class="span4"> 
					  <h2>JUEGOS</h2>
					  <img class="img-polaroid" src="{{STATIC_URL}}img/entrada.gif" alt="">
 
					     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
					  <P><a class="btn" href="">Ver Detalles &raquo;</a></p> 
				    </div> 
				    <div class="span4">
				      <h2>JUEGOS</h2> 
					  <img class="img-circle " src="{{STATIC_URL}}img/images (1).jpg" alt="">

					     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
					  <p><a class="btn" href="">Ver Detalles &raquo;</a></p> 
				    </div> 
				     <div class="span4"> 
					  <h2>JUEGOS</h2>
					  <img class="img-polaroid" src="{{STATIC_URL}}img/images (4).jpg" alt="">
 
					     <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> 
					  <p><a class="btn" href="#">Ver Detalles &raquo;</a></p> 
				    </div> 
				     
				     <!--<div class="span6"> 
					  <h2>Heading</h2>
					  <img src="{{STATIC_URL}}imag/111.jpg" alt="">
 
					     <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> 
					  <p><a class="btn" href="#">View details &raquo;</a></p> 
				    </div> 
			    </div> 
		 
		        <hr>
               <div class="row">
                     
	 				<span class="span4">
	 					<img src="{{STATIC_URL}}imag/111.jpg" alt="">


	 				</span> 
	 				<span class="span4"></span>
	 				<span class="span4">
	 					<img src="{{STATIC_URL}}imag/483486_469884906385917_1040752389_n.jpg" alt="">

	 				</span> 
	 			</div>>--> 
	 				
	 			 


		    
		 
		 
		    	
	</div> <!-- /container --> 
	 
                <footer> 
		 			 <p>&copy; Company 2014</p> 
		 		</footer> 
 <!-- Le javascript 
 ================================================== --> 
 
 <!-- Placed at the end of the document so the pages load faster --> 
 <!--<script src="{{ STATIC_URL }}js/bootstrap.js"></script>-->
 <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
 <script>window.jQuery || document.write('<script src="{{STATIC_URL}}juego/bootstrap/js/jquery-1.7.2.min.js"><\/script>')</script>
    <!-- Bootstrap jQuery plugins compiled and minified -->
    <!--<script src="{{STATIC_URL}}juego/bootstrap/js/bootstrap.min.js"></script>-->
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
 <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> 
 <!--<script src="../assets/js/bootstrap-alert.js"></script> 
 <script src="../assets/js/bootstrap-modal.js"></script> 
 <script src="../assets/js/bootstrap-dropdown.js"></script> 
 <script src="../assets/js/bootstrap-scrollspy.js"></script> 
 <script src="../assets/js/bootstrap-tab.js"></script> 
 <script src="../assets/js/bootstrap-tooltip.js"></script> 
 <script src="../assets/js/bootstrap-popover.js"></script> 
 <script src="../assets/js/bootstrap-button.js"></script> 
 <script src="../assets/js/bootstrap-collapse.js"></script> 
 <script src="../assets/js/bootstrap-carousel.js"></script> 
 <script src="../assets/js/bootstrap-typeahead.js"></script>--> 
 
 
   </body>  
  {{fecha}}	
</html> 