extends layout
block content
	div(class="panel panel-default")
		div(class="panel-body")
			div(class="input-group")
				
			br
			div
				input(type="button", id="iniciar" value="Iniciar")
				progress(value="0" max="100" id="barra")
			
	div#content