extends layout
block content
	div(class="panel panel-default")
		div(class="panel-heading") Sala de espera
		div(class="panel-body")
			div(class="input-group")
				span(class="input-group-addon") @ Nickname
				input(type="text", class="form-control" placeholder="Nickname" id="nickname")
			br
			a(href="/juego/",id="registrate") INICIAR PARTIDA
			

			
	div#content