{% extends "base1.html" %}

{% block title %}
	    <title>lista</title>
{% endblock %}

{%block container%}
	
	<a class="brand" href="/">Volver ala Pagina Principal</a>
	
	<article id="rigth">
				     <div class="container">
		              <h2>Lista de usuario</h2>
		            
			                {% for i in usuarios %}
			                    <h3><li><a href="/perfil"><img src="{{ i.perfil.avatar.url_50x50}}" alt="avatar">{{ i.username }}</a> </li></h3>
			                {% endfor %}
		           
		             </div>
	</article>
	
{% endblock %}